.App {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;}

h1 {
    color: #000;
    font-size: 7rem;
    margin: 0;
   }

input {
    width: 200px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    box-shadow: -22px 13px 38px 10px rgba(69, 156, 152, 0.2);
    outline:none;
}
